@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 231 15% 85%;
    --foreground: 231 15% 18%;
    --card: 231 15% 80%;
    --card-foreground: 231 15% 18%;
    --popover: 231 15% 80%;
    --popover-foreground: 231 15% 18%;
    --primary: 231 15% 18%;
    --primary-foreground: 231 15% 85%;
    --secondary: 231 15% 70%;
    --secondary-foreground: 231 15% 18%;
    --muted: 231 15% 70%;
    --muted-foreground: 231 15% 18%;
    --accent: 300 25% 45%;
    --accent-foreground: 231 15% 85%;
    --destructive: 0 65% 45%;
    --destructive-foreground: 231 15% 85%;
    --border: 231 15% 60%;
    --input: 231 15% 60%;
    --ring: 231 15% 85%;
    --chart-1: 231 48% 61%;
    --chart-2: 231 38% 70%;
    --chart-3: 39 67% 65%;
    --chart-4: 342 82% 68%;
    --chart-5: 28 82% 62%;
  }

  .dark {
    --background: 231 15% 18%;
    --foreground: 231 15% 85%;
    --card: 231 15% 22%;
    --card-foreground: 231 15% 85%;
    --popover: 231 15% 22%;
    --popover-foreground: 231 15% 85%;
    --primary: 231 15% 85%;
    --primary-foreground: 231 15% 18%;
    --secondary: 231 15% 60%;
    --secondary-foreground: 231 15% 85%;
    --muted: 231 15% 60%;
    --muted-foreground: 231 15% 85%;
    --accent: 300 25% 50%;
    --accent-foreground: 231 15% 18%;
    --destructive: 0 65% 55%;
    --destructive-foreground: 231 15% 18%;
    --border: 231 15% 40%;
    --input: 231 15% 40%;
    --ring: 231 15% 18%;
    --radius: 0.5rem;
    --chart-1: 231 48% 51%;
    --chart-2: 231 38% 60%;
    --chart-3: 39 67% 55%;
    --chart-4: 342 82% 58%;
    --chart-5: 28 82% 52%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.proseMarkdown {
  @apply container mx-auto m-5 p-6 prose;
  @apply prose-h1:text-white prose-h1:font-extrabold prose-h1:tracking-wide;
  @apply prose-h2:text-gray-300 prose-h2:font-semibold prose-h2:tracking-normal;
  @apply prose-p:text-gray-400 prose-p:leading-relaxed;
  @apply prose-a:text-blue-400 prose-a:underline hover:prose-a:text-blue-300;
  @apply prose-strong:text-gray-300 prose-strong:font-bold;
  @apply prose-code:text-pink-500 prose-code:bg-gray-900 prose-code:px-1 prose-code:rounded;
  @apply prose-li:text-gray-300 prose-li:leading-snug;
}
